.DS_Store
assets/pdfs/
assets/ramen-menu-main-page-*.png
assets/ramen-menu-main-preview.png
assets/ramen-menu-ogoto-page-*.png
assets/ramen-menu-ogoto-preview.png
assets/ramen-shop-poster-preview.png
